.restaurant-list-container {
  padding: 20px;
  text-align: center; 
  background: linear-gradient(#fff, #f7ecbb);  
  background-size: cover;  
  background-attachment: fixed; 
  background-position: center;  
  background-repeat: no-repeat;  
  min-height: 100vh;  
}
 
.search-container {
  margin-bottom: 20px;
  
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
 
.upload-container input[type="file"] {
  display: none;  
}

.upload-container label {
  padding: 10px 20px;
  background-color:#ffdb9d;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.upload-container label:hover {
  background-color:#fff6ba ;
}
.upload-container p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.search-container input {
  padding: 10px;
  margin: 5px;
  width: 150px;
  border: none;
  border-radius: 8px;
  background-color: rgba(240, 193, 112, 0.155); 
  color: black;

}

.search-container button {
  padding: 10px;
  cursor: pointer;
  background-color: #ffdb9d ; 
  border: #ffdb9d;
  border-radius: 50%;
}
.search-container button:hover {
  padding: 10px;
  cursor: pointer;
  background-color: #fff6ba;
  border: none;
  border-radius: 50%;
}
 
.restaurant-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 0 auto;
  background: transparent;  
  padding: 10px;
  border-radius: 10px;
}
 
.restaurant-card {
  padding: 15px; 
  border: none;
  border-radius: 8px; 
  background-color: rgba(240, 193, 112, 0.155); 
  color: #ffffff;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center; 
   
}
 
.restaurant-card:hover {
  transform: scale(1.05);
  background-color: #fff6ba ;
  border: none;  
}
 
.restaurant-card h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
  text-transform: capitalize;
  font-family: 'Arial', sans-serif;
}
 
.restaurant-card p {
  color: #666;
  font-size: 14px;
  margin: 5px 0;
  font-family: 'Verdana', sans-serif;
}
 
.restaurant-card a {
  text-decoration: none; 
  color: #333;  
  font-weight: bold;  
}
 
@media (max-width: 1200px) {
  .restaurant-list {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (max-width: 900px) {
  .restaurant-list {
    grid-template-columns: repeat(3, 1fr);  
  }
}

@media (max-width: 600px) {
  .restaurant-list {
    grid-template-columns: repeat(2, 1fr);  
  }
}

@media (max-width: 400px) {
  .restaurant-list {
    grid-template-columns: 1fr; 
  }
}
