.restaurant-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background:linear-gradient(#fff, #f7ecbb) ; 
  }
  
.restaurant-details-card {
  background-color:#fff6ba;
  box-shadow: #f9f63a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: left;
  box-sizing: border-box;
} 
.restaurant-details-card h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  text-transform: capitalize;
  text-align: center;
}
  
.restaurant-details-card p {
  font-size: 16px;
  color: #282727;
  margin: 12px 0;
  line-height: 1.5;
  font-family: 'Verdana', sans-serif;
} 
.restaurant-details-card strong {
  color: #333;
  font-weight: bold;
} 
@media (max-width: 600px) {
  .restaurant-details-card {
    padding: 20px;
    width: 90%;
  }
}
  
